html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.menu {
    display: grid;
    grid-template-columns: 105px auto 48px 48px;
    list-style-type: none;
    justify-items: center;
    background-color: white;
    height: 48px;
}

.logo {
    background: linear-gradient(to bottom right, #c09, #f42 85%);
    width: 100%;
    text-align: center;
}

.logo a {
    height: 100%;
    display: grid;
    grid-template: 1 / 1;
    place-items: center center;
}

.logo img {
    width: 70%;
}

.search,
.ham-menu {
    width: 47px;
    display: grid;
    grid-template: 1 / 1;
    place-items: center center;
    border-left: 1px solid #eeeeee;
}

.search a,
.ham-menu a {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1 / 1;
    align-content: center;
    justify-content: center;
}

.ham-menu span {
    background-color: #f42;
    height: 2px;
    width: 20px;
    margin-top: 4px;
}

.yellow-band {
    display: grid;
    grid-template: 1 / 1;
    height: 60px;
    background-color: #fd3;
    align-content: center;
    justify-content: center;
}

.yellow-band a {
    height: 100%;
    width: 100%;
    font-size: 13px;
    color: black;
}

.wrapper {
    padding-top: 100px;
}

.cover-item {
    position: relative;
    color: white;
    min-height: 30vh;
}

.cover-image,
.cover-link {
    position: absolute;
    bottom: 4px;
    left: 4px;
    top: 4px;
    right: 4px;
}

.cover-image {
    background-size: cover;
}

.img-cover-01 {
    background-image: url(./images/cover-01.png);
}

.img-cover-02 {
    background-image: url(./images/cover-02.png);
}

.img-cover-03 {
    background-image: url(./images/cover-03.jpg);
}

.img-section-app {
    background-image: url(./images/section-app.png);
}

.cover-link {
    background: url(./images/image-gradient.png) no-repeat;
    background-size: 100% 100%;
}

.cover-header {
    bottom: 4px;
    left: 4px;
    right: 4px;
    position: absolute;
    padding: 14px 12px;
}

.cover-header span {
    font-size: 14px;
}

.cover-header h3 {
    font-size: 20px;
    margin-bottom: .25em;
    letter-spacing: -.015em;
}

.cover-header a:visited {
    color: white;
}

.cover article ul, .section article ul {
    display: flex;
    list-style: none;
    color: gray;
    font-size: 12px;
}

.news h2,
.funding-rounds h2,
.sections h2 {
    color: #f42;
    padding: 18px 0;
    font-size: 28px;
    letter-spacing: -.015em;
}

.news h2 a:visited,
.funding-rounds h2 a:visited,
.section h2 a:visited {
    color: #f42;
}

.news,
.funding-rounds,
.sections {
    padding: 0 20px;
}

.news article {
    display: grid;
    grid-gap: 15px;
    grid-template: 1fr / 75px auto;
    height: 75px;
}

.news h4 {
    font-size: 14px;
}

.news a:visited {
    color: black;
}

.img {
    background-size: cover;
    background-position: center;
    display: block;
}

.img-news-01 {
    background-image: url(./images/news-01.jpg);
}

.img-news-02 {
    background-image: url(./images/news-02.jpg);
}

.img-news-03 {
    background-image: url(./images/news-03.jpg);
}

.img-news-04 {
    background-image: url(./images/news-04.png);
}

.img-news-05 {
    background-image: url(./images/news-05.jpg);
}

.img-news-06 {
    background-image: url(./images/news-06.png);
}

.img-news-07 {
    background-image: url(./images/news-07.jpg);
}

.img-news-08 {
    background-image: url(./images/news-08.jpg);
}

.news article {
    padding-bottom: 12px;
}

.news article ul {
    display: flex;
    list-style-type: none;
    color: gray;
    font-size: 12px;
    padding-top: 4px;
}

.news article ul li a:visited {
    color: gray;
}

.funding-links {
    display: flex;
    flex-direction: column;
}

.funding-link {
    display: block;
    padding: 6px;
    color: #f42;
}

.rounds-item {
    padding: 10px 0;
}

.rounds-item-content {
    position: relative;
}

.rounds-item-content img {
    height: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
}

.rounds-item-content h3 {
    background-color: #f42;
    color: white;
    height: 45px;
    padding-top: 8px;
    padding-left: 82px;
}

.rounds-item-content div {
    background: rgba(255, 68, 34, 0.08);
    height: 60px;
    padding-top: 8px;
    padding-left: 82px;
}

.rounds-item-content h4 {
    color: black;
}

.rounds-item-content p {
    color: gray;
    font-size: 12px;
}

.rose a {
    color: #505050;
    font-size: 13px;
    padding: 5px 0;
    display: block;
}

.rose {
    background: #fffaf8;
    padding: 12px;
}

.rounds-item .border-bottom {
    border-bottom: 1px solid rgba(255, 68, 34, .25);
    padding-bottom: 5px;
}

.section ul {
    list-style-type: none;
}

.section-image, .section-link {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}

.sections-latest {
    display: grid;
    grid-template-columns: auto 96px;
    color: #f42;
}

.sections-latest a:visited {
    color: #f42;
}

.header-rose {
    background-color: rgba(255, 68, 34, .06);
    padding: 10px 14px 0;
}

.sections-latest h4 {
    font-size: 12px;
}

.sections-latest h3 {
    font-size: 15px;
    line-height: 1.25;
}

.section-latest-01 {
    background-image: url(./images/section-latest-01.jpg);
    height: 96px;
}

.sections-headline {
    border-bottom: 1px solid #eee;
}

.sections-headline h4 {
    font-size: 13px;
    font-weight: 400;
}

.sections-headline h4 a {
    color: #555;
    display: block;
    padding: 6px 0 6px 14px;
    position: relative;
}

.sections-headline h4 a::before {
    background-color: #f42;
    border-radius: 50%;
    content: "";
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    top: 13px;
    width: 4px;
}

.deals header {
    margin-bottom: 24px;
}

.deals header h2 {
    float: left;
    line-height: 32px;
    margin: 0;
    padding: 0;
}

.deals header a {
    float: right;
    line-height: 18px;
    margin-top: 21px;
    color: #f42;
}

.deals header a:visited {
    color: #f42;
}

.deals header::after {
    clear: both;
    content: "";
    display: block;
}

.line-through {
    text-decoration: line-through;
}

.soft-black {
    color: #555;
}

.img-deal-01 {
    background-image: url(./images/deals-01.jpg);
}

.img-deal-02 {
    background-image: url(./images/deals-02.jpg);
}

.img-deal-03 {
    background-image: url(./images/deals-03.jpg);
}

.img-deal-04 {
    background-image: url(./images/deals-04.jpg);
}

.img-deal-05 {
    background-image: url(./images/deals-05.jpg);
}

.img-deal-06 {
    background-image: url(./images/deals-06.jpg);
}

.img-deal-07 {
    background-image: url(./images/deals-07.jpg);
}

.img-deal-08 {
    background-image: url(./images/deals-08.jpg);
}

/* footer section */

footer {
    display: grid;
    background-color: #131313;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.footer-wrapper {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    padding: 4rem 0;
    height: auto;
}

.footer-links-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 2em;
    height: 40px;
}

.footer-links-social li {
    list-style-type: none;
    padding: 18px;
    background-color: rgb(47, 47, 47);
    border-radius: 50%;
}

.fb {
    background-image: url("images/facebook.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.twitter {
    background-image: url("images/twitter.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.youtube {
    background-image: url("images/youtube.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.instagram {
    background-image: url("images/instagram.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.pinterest {
    background-image: url("images/pinterest.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.rrss {
    background-image: url("images/rrss.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.email {
    background-image: url("images/email.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.footer-links-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0 60px;
    font-size: 12px;
}

.footer-links-menu a {
    color: #999;
    text-decoration: none;
}

.footer-legal {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 3rem 0;
    color: #999;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom span {
    font-size: 13px;
    font-family: Roboto, sans-serif;
}

#tnw-logo {
    width: 40px;
    height: 10px;
    margin-right: 7px;
}

#love {
    color: red;
}

#stackpath {
    width: 75px;
    height: 9px;
}
